CompileFlags:
    Remove:
        - '-forward-unknown-to-host-compiler'
        - '--generate-code*'
        - '-arch=*'
        - '-Xcompiler=-fopenmp'
    Add:
        -  '--no-cuda-version-check'
        -  '-I/home/ruinique/local/nvidia/hpc_sdk/Linux_x86_64/25.3/math_libs/include'
        -  '-I/home/ruinique/local/nvidia/hpc_sdk/Linux_x86_64/25.3/cuda/include'
        -  '--cuda-path=/home/ruinique/local/nvidia/hpc_sdk/Linux_x86_64/25.3/cuda'